[submodule "htslib"]
	path = htslib
	url = https://github.com/samtools/htslib.git
	ignore = dirty

[submodule "abPOA"]
	path = abPOA
	url = https://github.com/yangao07/abPOA.git
	ignore = dirty

[submodule "WFA2-lib"]
	path = WFA2-lib
	url = https://github.com/smarco/WFA2-lib.git
	ignore = dirty

